/* General styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455; /* SLATE */
  background-color: white;
  font-size: 16px;
  line-height: 1.5; /* 24px / 16px */
  letter-spacing: 0.32px; /* 2% */
  font-weight: 400;

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.title {
  font-size: 56px;
  line-height: 1.07; /* 60px / 56px */
  letter-spacing: 1.12px; /* 2% */
  font-weight: 700;
  color: white;
}

.header-two,
.header-three {
  color: #2e2f42; /* NAVY BLUE */
  text-align: center;
  text-transform: capitalize;
}
.header-two {
  font-size: 36px;
  line-height: 1.11; /* 40px / 36px */
  letter-spacing: 0.72px; /* 2% */
  font-weight: 700;
}
.header-three {
  font-size: 20px;
  line-height: 1.2; /* 24px / 20px */
  letter-spacing: 0.4px; /* 2% */
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 1.17; /* 14px / 12px */
  letter-spacing: 0.48px; /* 4% */
  color: #9ebf99; /* LIGHT SLATE */
}

.medium-text {
  font-weight: 500;
}

.button {
  letter-spacing: 0.64px; /* 4% */
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: #4d5ae5; /* IRIS */
  cursor: pointer;
  line-height: 1.5;
}

.link {
  font-size: 12px;
  line-height: 1.33; /* 16px / 12px */
  letter-spacing: 0.48px; /* 4% */
  color: #4d5ae5; /* IRIS */
  text-decoration: underline;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 21px / 18px */
  letter-spacing: 0.54px; /* 3% */
  font-style: normal;
  text-transform: uppercase;
  color: #4d5ae5; /* IRIS */
}
.background-white {
  background-color: white;
}
.background-ocean:hover,
.background-ocean:focus {
  background-color: #404bbf; /* OCEAN */
}
.hover-ocean:hover,
.hover-ocean:focus {
  color: #404bbf; /* OCEAN */
}
.slate {
  color: #434455; /* SLATE */
}
.cloud {
  color: #f4f4fd; /* CLOUD */
}
/* Block-specific styles */
.navy-blue {
  color: #2e2f42; /* NAVY BLUE */
}
.contact {
  font-style: normal;
}

.hero {
  background-color: #2e2f42; /* NAVY BLUE */
  text-align: center;
}

.team {
  background-color: #f4f4fd; /* CLOUD */
}

.footer {
  background-color: #2e2f42; /* NAVY BLUE */
}
