:root {
  --primaryBrandIris: #4d5ae5; /* IRIS */
  --pressedStateOcean: #404bbf; /* OCEAN */
  --darkNavyBlue: #2e2f42; /* NAVY BLUE */
  --successGreen: #31d0aa; /* GREEN */
  --textSlate: #434455; /* SLATE */
  --subtleTextLightSlate: #9ebf99; /* LIGHT SLATE */
  --accentCornflower: #e7e9fc; /* CORNFLOWER */
  --lightCloud: #f4f4fd; /* CLOUD */
  --modalOverlayNavyBlueModal: #2e2f47; /* NAVY BLUE MODAL */
  --grey: #2e2f47; /* GREY */
  --dairy: #fcfcfc; /* DAIRY */
}

html,
body,
header,
div,
ul,
li,
span,
a,
img,
address,
button,
h1,
h2,
h3,
footer {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li,
dl,
dt,
dd,
p,
a {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  all: unset;
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--textSlate); /* SLATE */
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px; /* 2% */
  font-weight: 400;
}

.title {
  font-size: 56px;
  line-height: 1.07; /* 60px / 56px */
  letter-spacing: 1.12px; /* 2% */
  font-weight: 700;
  color: white;
}

.title-two,
.title-three {
  color: var(--darkNavyBlue); /* NAVY BLUE */
  text-align: center;
  text-transform: capitalize;
}

.title-two {
  font-size: 36px;
  line-height: 1.11; /* 40px / 36px */
  letter-spacing: 0.72px; /* 2% */
  font-weight: 700;
}

.title-three {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px; /* 2% */
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 1.17; /* 14px / 12px */
  letter-spacing: 0.48px; /* 4% */
  color: var(--subtleTextLightSlate); /* LIGHT SLATE */
}

.medium-text {
  font-weight: 500;
}

.button {
  letter-spacing: 0.64px; /* 4% */
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: var(--primaryBrandIris); /* IRIS */
  cursor: pointer;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
}

.link {
  font-size: 12px;
  line-height: 1.33; /* 16px / 12px */
  letter-spacing: 0.48px; /* 4% */
  color: var(--primaryBrandIris); /* IRIS */
  text-decoration: underline;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 21px / 18px */
  letter-spacing: 0.54px; /* 3% */
  font-style: normal;
  text-transform: uppercase;
  color: var(--primaryBrandIris); /* IRIS */
  margin-right: 76px;
  padding: 24px 0;
}

.background-white {
  background-color: white;
}

.background-ocean:hover,
.background-ocean:focus {
  background-color: var(--pressedStateOcean); /* OCEAN */
}

.hover-ocean:hover,
.hover-ocean:focus {
  color: var(--pressedStateOcean); /* OCEAN */
}

.slate {
  color: var(--textSlate); /* SLATE */
}

.cloud {
  color: var(--lightCloud); /* CLOUD */
}

.navy-blue {
  color: var(--darkNavyBlue); /* NAVY BLUE */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* block model and Block-specific styles */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link,
.contact-link {
  display: block;
  padding: 24px 0;
}

.contact {
  margin-left: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-color: var(--darkNavyBlue); /* NAVY BLUE */
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-button {
  margin: 0 auto;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: var(--lightCloud); /* CLOUD */
}

.team-title-two {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-paragraph {
  text-align: center;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-overlay {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-overlay .title-three {
  text-align: left;
}

.footer {
  background-color: var(--darkNavyBlue); /* NAVY BLUE */
  padding: 100px 0;
}
.footer-logo {
  margin-bottom: 16px;
}

.footer-paragraph {
  max-width: 264px;
}
